<section>
    <div>
        <h2>Informacion del programa</h2>
        <p>Argumentos de entrada : {{argDeEntrada}}</p>
        <p>Sistema operativo : {{sistOperativo}}</p>
        <p>Version de Node.js : {{vNode}}</p>
        <p>Memoria total reservada (rss) : {{rss}}</p>
        <p>Path de ejecucion : {{ejecutPath}}</p>
        <p>Process ID : {{pid}}</p>
        <p>Carpeta del proyecto : {{folder}}</p>
        <p>Procesadores : {{cpus}}</p>
    </div>
</section>