<div>
    <button class="btn  btn-primary mb-2" onclick="window.location.href='/'"> volver al home </button>
    <div>
        <img src={{user.image}} alt="avatar">
        <h2>Datos personales</h2>
        <p>nombre:{{user.username}}</p>
        <p>contraseña:{{user.password}}</p>
        <p>email:{{user.email}}</p>
        <p>residencia:{{user.direcction}}</p>
        <p>edad:{{user.age}}</p>
        <p>celular:{{user.cel}}</p>
    </div>
</div>